*
!readme.md

Algebra/
General/
Fun/
Mazur/
Probability/
texts/
Geometry/
Metamath/
Problem-solving/
thread/
Applied/
High school/
Miscellaneous/
Reference/
Combinatorics/
lessons/
Number theory/ 
Statistics/
Computation/
Logic/
Physics/
templates/

!Analysis/

Analysis/*

!Analysis/complex
Analysis/complex/*
!Analysis/complex/conformal.tex
!Analysis/complex/conformal.pdf
!Analysis/complex/hadamard.tex
!Analysis/complex/hadamard.pdf

!Analysis/harmonic
Analysis/harmonic/*
!Analysis/harmonic/harmonic.tex
!Analysis/harmonic/harmonic.pdf

!Analysis/real
Analysis/real/*
!Analysis/real/Analysis Notes.pdf

!Analysis/functional
Analysis/functional/*
!Analysis/functional/part_iii_functional.pdf
!Analysis/functional/part_iii_distributions.pdf
!Analysis/functional/part_iii_functional.tex
!Analysis/functional/part_iii_distributions.tex
!Analysis/functional/distributions_review.pdf
!Analysis/functional/distributions_review.tex
!Analysis/functional/functional_chapters
!Analysis/functional/distribution_chapters
!Analysis/functional/functional_chapters/*
!Analysis/functional/distribution_chapters/*

!Analysis/measure_theory
Analysis/measure_theory/*
!Analysis/measure_theory/notes
Analysis/measure_theory/notes/*
#!Analysis/measure_theory/notes
#Analysis/measure_theory/notes/*
!Analysis/measure_theory/notes/*.tex
!Analysis/measure_theory/notes/*.pdf
!Analysis/measure_theory/notes/chapters
Analysis/measure_theory/notes/chapters/*
!Analysis/measure_theory/notes/chapters/*.tex
!Analysis/measure_theory/psets/
!Analysis/measure_theory/psets/*.tex

!Analysis/differential_forms
Analysis/differential_forms/*
!Analysis/differential_forms/*.tex

!Combinatorics/
Combinatorics/*
!Combinatorics/graph_theory
Combinatorics/graph_theory/*
!Combinatorics/graph_theory/geometric_graph_theory
Combinatorics/graph_theory/geometric_graph_theory/*
!Combinatorics/graph_theory/geometric_graph_theory/*.png
!Combinatorics/graph_theory/geometric_graph_theory/*.xcf
!Combinatorics/graph_theory/geometric_graph_theory/*.tex
!Combinatorics/graph_theory/geometric_graph_theory/refs.bib
!Combinatorics/graph_theory/geometric_graph_theory/chapters
!Combinatorics/graph_theory/geometric_graph_theory/diagrams
!Combinatorics/graph_theory/geometric_graph_theory/research
Combinatorics/graph_theory/geometric_graph_theory/diagrams/*
!Combinatorics/graph_theory/geometric_graph_theory/diagrams/*.tex
!Combinatorics/graph_theory/geometric_graph_theory/diagrams/*.asy
!Combinatorics/graph_theory/geometric_graph_theory/research/*.tex

!Combinatorics/probabilistic_method
Combinatorics/probabilistic_method/*
!Combinatorics/probabilistic_method/notes
!Combinatorics/probabilistic_method/notes/main.tex
!Combinatorics/probabilistic_method/notes/date.tex
!Combinatorics/probabilistic_method/notes/chapters
!Combinatorics/probabilistic_method/notes/chapters/*.tex
!Combinatorics/probabilistic_method/psets
!Combinatorics/probabilistic_method/psets/*.tex
!Combinatorics/probabilistic_method/psets/18997PS*.pdf

!Computation/
Computation/*

!Computation/complexity
Computation/complexity/*
!Computation/complexity/18.404
Computation/complexity/18.404/*
!Computation/complexity/18.404/*.tex
!Computation/complexity/18.404/main.pdf
!Computation/complexity/18.404/*.png
!Computation/complexity/18.404/*.xnf
!Computation/complexity/18.404/chapters
!Computation/complexity/18.404/chapters/*.tex

!Computation/machine_learning
Computation/machine_learning/*
!Computation/machine_learning/nn.tex
!Computation/machine_learning/nn.pdf
!Computation/machine_learning/deep_learning.tex
!Computation/machine_learning/deep_learning.pdf

!Geometry/
Geometry/*
!Geometry/riemannian
Geometry/riemannian/*
!Geometry/riemannian/18.965
Geometry/riemannian/18.965/*
!Geometry/riemannian/18.965/*.tex
!Geometry/riemannian/18.965/*.png
!Geometry/riemannian/18.965/*.xcf
!Geometry/riemannian/18.965/965.bib
!Geometry/riemannian/18.965/diagrams/
!Geometry/riemannian/18.965/diagrams/diags.tex
!Geometry/riemannian/18.965/diagrams/*.asy
!Geometry/riemannian/18.965/chapters/
!Geometry/riemannian/18.965/chapters/*.tex

!Number theory/

Number theory/*
!Number theory/Additive_combinatorics

Number theory/Additive_combinatorics/*
!Number theory/Additive_combinatorics/ellenberg.tex
!Number theory/Additive_combinatorics/ellenberg.pdf

!Number theory/automorphic_forms
Number theory/automorphic_forms/*
!Number theory/automorphic_forms/eichler_shimura2.tex
!Number theory/automorphic_forms/eichler_shimura2.pdf

!Number theory/arithmetic_geometry
Number theory/arithmetic_geometry/*
!Number theory/arithmetic_geometry/18.787
Number theory/arithmetic_geometry/18.787/*
!Number theory/arithmetic_geometry/18.787/*.tex
!Number theory/arithmetic_geometry/18.787/main.pdf
!Number theory/arithmetic_geometry/18.787/refs.bib
!Number theory/arithmetic_geometry/18.787/chapters
!Number theory/arithmetic_geometry/18.787/chapters/*

!Statistics/

Statistics/*
!Statistics/stat_notes.tex
!Statistics/stat_notes.pdf

#http://stackoverflow.com/questions/1279533/is-there-a-way-to-tell-git-to-only-include-certain-files-instead-of-ignoring-cer
#http://stackoverflow.com/questions/1248570/git-ignore-everything-except-subdirectory
#http://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
#http://stackoverflow.com/questions/5241644/using-gitignore-to-ignore-everything-but-specific-directories